@font-face {
   font-family: 'MuseoSans_100-webfont';
   font-display: swap;
   src: url('file:///C:/Users/Nutzer/AppData/Local/Mobirise.com/Mobirise/projects/project-2019-10-16_102223/fonts/MuseoSans_100-webfont/font.woff');
}
